<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css"
      integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- nav 바-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/">중고장터</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#"
                >Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Dropdown</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-sm-2"
              type="text"
              placeholder="Search"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div style="margin: 50px">
      <form>
        <fieldset>
          <h1>게시글 수정</h1>

          <div class="form-group">
            <input id="idx" type="hidden" th:value="${post.idx}" />
          </div>

          <!-- 게시글 제목 -->
          <div class="form-group">
            <label class="form-label mt-4">게시글 제목</label>
            <input id="title" th:value="${post.title}" />
          </div>
          <!-- 작성자 -->
          <div class="form-group">
            <label class="form-label mt-4">작성자</label>
            <input id="writer" th:value="${post.writer}" />
          </div>

          <!-- 물건종류 -->
          <div class="form-group">
            <label class="form-label mt-4">물건 유형</label>
            <input id="kindOfItem" th:value="${post.kindOfItem}" />
          </div>

          <!-- 물건명 -->
          <div class="form-group">
            <label class="form-label mt-4">물건 명</label>
            <input id="item" th:value="${post.item}" />
          </div>
          <!-- 판매가격 -->
          <div class="form-group">
            <label class="form-label mt-4">판매가격</label>
            <input id="price" th:value="${post.price}" />
          </div>
          <!-- 거래장소 -->
          <div class="form-group">
            <label class="form-label mt-4">거래 장소</label>
            <input id="tradePlace" th:value="${post.tradePlace}" />
          </div>
          <!-- 내용설명 -->
          <div class="form-group">
            <label class="form-label mt-4">게시글 내용</label>
            <input id="content" th:value="${post.content}" />
          </div>

          <button type="submit" class="btn btn-primary" id="btn-update">
            수정하기
          </button>
          <button type="submit" class="btn btn-danger" id="btn-delete">
            삭제하기
          </button>
        </fieldset>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
      var main = {
        init: function () {
          var _this = this;
          $("#btn-update").on("click", function () {
            _this.update();
          });
          $("#btn-delete").on("click", function () {
            _this.delete();
          });
        },

        update: function () {
          var data = {
            title: $("#title").val(),
            writer: $("#writer").val(),
            kindOfItem: $("#kindOfItem").val(),
            item: $("#item").val(),
            price: $("#price").val(),
            tradePlace: $("#tradePlace").val(),
            content: $("#content").val()
          };
          var id = $("#idx").val();

          $.ajax({
            type: "PUT",
            url: "/api/board/posts/" + id,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
          })
            .done(function () {
              alert("글이 수정되었습니다.");
              location.replace("http://localhost:8080/");
            })
            .fail(function (error) {
              alert(JSON.stringify(error));
            });
        },

        delete: function () {
          var id = $("#idx").val();

          $.ajax({
            type: "PUT",
            url: "/api/board/posts/" + id + "/isDelete",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
          })
            .done(function () {
              alert("글이 삭제되었습니다.");
              // window.location.href="http://localhost:8080/";
              location.replace("http://localhost:8080/");
            })
            .fail(function (error) {
              alert(JSON.stringify(error));
            });
        },
      };

      main.init();
    </script>
  </body>
</html>
